  @import url('https://fonts.googleapis.com/css?family=Montserrat:700');


html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;


    font-family: 'Montserrat', sans-serif;

    
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}



@media only screen and (min-width : 1280px){
 #appArea{
     height:100%;
     width:100%;
     display:grid;
     grid-template-rows: repeat(100,20px);
grid-template-columns: repeat(64,20px);   
}   
    .appName{
        grid-row:4/8;
    grid-column: 6/10;
        
    }
.appName h1{
    /* NotePad App: */
font-size: 64px;
color: #11DC42;
    
    } 
    
    .dash{
        height:15px;
        width:100px;
        background-color: #333734;
        grid-row:10/10;
        grid-column: 14/20;
    }
    
    #titleTextArea{
    height:50px;
    width:521px;
    border: 2px solid #d4d4d4;
    border-radius: 6.5%;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    resize: none;
        grid-row: 13/16;
        grid-column: 6/8;
    }
    
    #textArea{
       height: 300px;
       width: 521px;
grid-row: 16/27;
grid-column: 6/8;
border: 2px solid #d4d4d4;
border-radius: 6.5%;
padding: 10px 10px 10px 10px;
font-size: 20px;
resize: none;
    }

    input {
    padding: 0 0 400px 0;
}
    #crtNew{
        /* Rectangle 2: */
background: #11DC42;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 11px;
height:50px;
width:150px;
grid-row:32/35;
grid-column: 6/15;
color:white;
            font-family: 'Montserrat', sans-serif;

font-size:15px;

    }
    
    #updTExst{
        background: grey;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 11px;
height:50px;
width:150px;
grid-row:32/35;
grid-column: 15/23;
color:white;
    font-family: 'Montserrat', sans-serif;

font-size:15px;    
    }
    #noteBox{
        overflow: scroll;
        display: flex;
        width:600px;
        height:600px;
        grid-column:33/44;
        grid-row:5/38;
        flex-wrap: wrap;
        justify-content: center;
    } 

    .notes{
        display:grid;
        height:250px;
        width:170px;
        border:2px solid #666565;
        margin-left:20px;
        border-radius: 6.5%;
        grid-template-rows: repeat(12,21px);
        grid-template-columns: repeat(8,21px);
        margin:2px;
    }
    
    .title{
        grid-row:1/2;
        text-align: center;
        text-overflow: clip;
        color:black;
        padding-top:1px;
            grid-column: 1/12;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    
    .updateButton{  
        height:34px;
        width:70%;
        grid-row:11/12;
        grid-column: 3/12;
        border-radius:7%;
        background: #11DC42;
            font-family: 'Montserrat', sans-serif;
        color:white;
        }
    
    .contentArea{
        grid-row: 3/10;
        grid-column: 1/10;
        text-align: left;
        font-size:13px;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    .paraNode{
    height: 147px;
      width: 171px;
      background: whitesmoke;
       border-top: 1px solid;
        border-bottom: 1px solid;
    }
    
    
    
}

@media only screen and (min-width : 1440px){
    #appArea{
     height:100%;
     width:100%;
     display:grid;
     grid-template-rows: repeat(100,20px);
grid-template-columns: repeat(64,20px); 
        margin-left: 321px;
}   
}

@media only screen and (max-width : 720px){
    #appArea{
     height:100%;
     width:100%;
     display:grid;
     grid-template-rows: repeat(100,20px);
grid-template-columns: repeat(64,20px);   
}   
    .appName{
      grid-row: 3/8;

grid-column: 2/2;
        
    }
.appName h1{
    /* NotePad App: */
font-size: 42px;
color: #11DC42;
    
    } 
    
    .dash{
    
        height:15px;
        width:100px;
        background-color: #333734;
        grid-row: 7/9;
        grid-column: 7/8;
        margin-top: -5px;
    }
    
    #titleTextArea{
    height: 54px;
    width: 243px;
    border: 2px solid #d4d4d4;
    border-radius: 6.5%;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    resize: none;
    grid-row: 9/16;
    grid-column: 2/7;
    }
    
    #textArea{
      height: 150px;
        width: 319px;
        grid-row: 13/27;
        grid-column: 2/8;
        border: 2px solid #d4d4d4;
        border-radius: 6.5%;
        padding: 10px 10px 10px 10px;
        font-size: 20px;
        resize: none;
                

    }

    input {
    padding: 0 0 400px 0;
                display:none;

}
    #crtNew{
        /* Rectangle 2: */
background: #11DC42;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 11px;
height:50px;
width:150px;
grid-row: 22/26;
grid-column: 2/15;
color:white;
            font-family: 'Montserrat', sans-serif;

font-size:15px;

    }
    
    #updTExst{

        background: grey;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 11px;
height:50px;
width:150px;
grid-row: 22/26;
grid-column: 10/15;
color:white;
    font-family: 'Montserrat', sans-serif;

font-size:15px;    
    }
    #noteBox{

        overflow: scroll;
        display: flex;
        width: 378px;
        height: 400px;
        grid-column: 2/33;
        grid-row: 26/38;
        flex-wrap: wrap;
       
        
        
    } 

    .notes{
        display:grid;
        height:250px;
        width:152px;
        border:2px solid #666565;
        margin-left:20px;
        border-radius: 6.5%;
        grid-template-rows: repeat(12,21px);
        grid-template-columns: repeat(8,21px);
        margin:2px;
    }
    
    .title{

        grid-row:1/2;
        text-align: center;
        text-overflow: clip;
        color:black;
        padding-top:1px;
            grid-column: 1/12;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    
    .updateButton{ 
                display:none;

        height:34px;
        width:70%;
        grid-row:11/12;
        grid-column: 3/12;
        border-radius:7%;
        background: #11DC42;
            font-family: 'Montserrat', sans-serif;
        color:white;
        }
    
    .contentArea{

        grid-row: 3/10;
        grid-column: 1/10;
        text-align: left;
        font-size:13px;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    .paraNode{

    height: 147px;
      width: 152px;
      background: whitesmoke;
       border-top: 1px solid;
        border-bottom: 1px solid;
    }
    
    
}